<head>
  <link rel="stylesheet" href="assets/stylesheets/">
</head>

<body>
  <div>

    <div class="header mx-auto w-25 p-3" style="width: 1000px;" align="center">
      <h2>Sign up</h2>
    </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

      <div class="sign-up-form mx-auto w-25 p-3" style="width: 1000px;" align="center">

        <div class="field form-text">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input-field" %>
        </div>
        <br>

        <div class="field form-text">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-input-field" %>
        </div>
        <br>

        <div class="field form-text">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input-field"%>
        </div>
        <br>
        <br>

        <div class="actions">
          <%= f.submit "Sign up", class: "sign-up-button" %>
        </div>
        
      </div>

      <% end %>
  </div>
</body>
