<h1><%= @movie.title %></h1>
<h1>Movie id: <%= @movie.id %></h1>
<div><%= @movie.overview %></div>
<img src="https://image.tmdb.org/t/p/w500<%= @movie.poster_path %>" >

<div>
  <% if @match %>
    <%= @match %>
    <%= button_to 'ReMatch', games_rematch_path(:user_id => current_user.id), method: :delete %>
  <%end%>
</div>

<%= button_to 'Like', games_like_path(:user_id => current_user.id, :movie_id => @movie.id), method: :post %>
<%= button_to 'Dislike', games_dislike_path(:user_id => current_user.id), method: :post %>
