<div class="movie-container">
<div class="mx-auto w-50 p-3" align="center">
<h1><%= @movie.title %></h1>
<%= @movie.overview %>
</div>

<div >
<img src="https://image.tmdb.org/t/p/w500<%= @movie.poster_path %> "height="20%">
</div>

<div>
  <% if @match %>
    <%= @match %>
    <%= button_to 'ReMatch', games_rematch_path(:user_id => current_user.id), method: :delete %>
  <% else %>
    <%= button_to 'Like', games_like_path(:user_id => current_user.id, :movie_id => @movie.id), method: :post %>
    <%= button_to 'Dislike', games_dislike_path(:user_id => current_user.id), method: :post %>
  <%end%>
</div>
</div>
