<h1>Pick a category</h1>
<div>
    <%= session[:message] %>
</div>
<div>
    <%= button_to 'All', games_path(:genre => ""), method: :post %>
    <%= button_to 'Action', games_path(:genre => "Action"), method: :post %>
    <%= button_to 'Adventure', games_path(:genre => "Adventure"), method: :post %>
    <%= button_to 'Animation', games_path(:genre => "Animation"), method: :post %>
    <%= button_to 'Comedy', games_path(:genre => "Comedy"), method: :post %>
    <%= button_to 'Crime', games_path(:genre => "Crime"), method: :post %>
    <%= button_to 'Drama', games_path(:genre => "Drama"), method: :post %>
    <%= button_to 'Family', games_path(:genre => "Family"), method: :post %>
    <%= button_to 'Fantasy', games_path(:genre => "Fantasy"), method: :post %>
    <%= button_to 'History', games_path(:genre => "History"), method: :post %>
    <%= button_to 'Horror', games_path(:genre => "Horror"), method: :post %>
    <%= button_to 'Mystery', games_path(:genre => "Mystery"), method: :post %>
    <%= button_to 'Romance', games_path(:genre => "Romance"), method: :post %>
    <%= button_to 'Science Fiction', games_path(:genre => "Science Fiction"), method: :post %>
    <%= button_to 'Thriller', games_path(:genre => "Thriller"), method: :post %>
    <%= button_to 'War', games_path(:genre => "War"), method: :post %>
</div>
