<!DOCTYPE html>
<html>
  <head>
    <title>Wepick</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- commented out the below line when travis was failing -->
    <!-- <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> -->
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
